header {
    display: flex;
    justify-content: center;
    background: rgb(34, 191, 195);
    background: linear-gradient(0deg, rgba(34, 191, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.header {
    display: flex;
    justify-content: space-around;
    width: 980px;

}

.header ul {
    display: flex;
}

.header ul li {
    margin-right: 30px;
    list-style-type: none;
}

div .logo {
    width: 100px;
}